*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main{
    height: 100%;
    width: 100%;
    background-color:hsl(0, 64%, 51%) ;
    display: flex;
}
a{
    text-decoration: none;
    color:black;
}
#part1{
    height: 100%;
    width: 26%;
    /* background-color: blue; */
}
#part2{
    height: 100%;
    width: 67%;
    background-color: red;
    background-image: url(https://plus.unsplash.com/premium_photo-1708110921398-1fc68e98eacc?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;

}

#overlay{
    height: 100%;
    width: 100%;
    background-color:hsla(356, 97%, 73%, 0.259) ;
}
#part3{
    height: 100%;
    width: 7%;
    /* background-color: green; */
}
#text-div{
    /* height:300px; */
    position: absolute;
    width: 400px;
    background-color:transparent;
    left: 10%;
    top: 50%;
    transform: translate(0%,-50%);
}
#text-div h1{
  
    /* color:hsl(0, 64%, 51%); */
    font-size: 100px;
    line-height: 76px;
    width: max-content;
    /* padding-right: 5%; */
    text-transform: uppercase;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    background-color:transparent;
}
#red{
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    
    color:hsl(0, 64%, 51%);
}
#is,#new{
    color: white;
}
#black{
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    
    color:transparent;
     /* hsl(0, 64%, 51%); */
}
#small-img-div{
    height: 300px;
    width: 200px;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0%,-50%);
    background-image: url(https://media.istockphoto.com/id/660239048/photo/lady-in-red.jpg?s=612x612&w=0&k=20&c=_PItJGuFjlpWtzjxKiYBxdPIFdIBi_xIpBzkWzFEkmc=);
    background-position: center;
    background-size: cover;
}

#overlay-in{
    height: 100%;
    width: 100%;
    background-color:hsla(356, 97%, 73%, 0.259) ;
}
#vertical-text{
    position: absolute;
    right: 5%;
    top: 45%;
    transform:rotate(90deg) ;   
}

@keyframes color {
    0%   { color: hsl(37, 100%, 55%); }
    20%  { color: hsl(0, 87%, 59%); }
    40%  { color: hsl(0, 80%, 42%); }
    60%  { color: hsl(337, 100%, 55%); }
    80%  { color: hsl(0, 61%, 42%); }
    100% { color: hsl(28, 77%, 47%); }
  } 
#vertical-text h1{
    font-size: 70px;
    font-weight:900;
    letter-spacing:2px;
    color: transparent;
    text-transform: capitalize;
    font-family: monospace;
    height: 100%;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:black;
    font-family: 'Kavoon', sans-serif;
    /* color: #fab114; /* Fallback */
    animation:alternate color 15s infinite ; 
}
    /* text-align: center; */

#nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    left: 10%;
    top: 5%;
}
#nav img{
    height: 50px;
}
#nav h5{
    font-family:sans-serif;
    font-size: 20px; 
    
}

  


    
  
  



/* https://images.unsplash.com/photo-1726711340699-952d47133b21?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D */